:root {
    --background: #0E0E0E;
    --primary-flame: #FF6B00;
    --secondary-flame: #FFB347;
    --accent: #FF4500;
    --text: #EDEDED;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 16px;
}

.chat-page {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

aside {
    background-color: seagreen;
    height: 100%;
    width: 100px;

}

main {
    background-color: sienna;
    flex: 1;
}

main nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}
nav button {
    border: none;
    border-radius: 1rem;
    background-color: var(--background);
    color: var(--text);
    padding: 8px 24px;
    display: flex;
    gap: 0.5rem;
}

.icons {
    display: flex;
    flex-direction: column;
}

.icons .account {
    margin-top: auto;
}

.icons i {
    font-size: 2rem;
    padding: 1rem;
}

main .chat-section {
    height: 80%;
}

main .input-field {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 600px;
    gap: 0.5rem;
    background-color: #FF4500;
}

main .input-field input {
    padding: 16px 16px;
    border: none;
    border-radius: 1rem;
    width: 100%;
    background-color: var(--background);
}

main .input-field p {
    text-align: center;
    font-size: 0.75rem;
}

.input-area {
    width: 600px;
    background-color: red;
    position: relative;
}

.plus-icon, .send-icon {
    position: absolute;
    top: 10px;
    font-size: 1.5rem;
    color: var(--text);
    border-radius: 50%;
    cursor: pointer;
}

.send-icon {
    right: 10px;
}
.plus-icon {
    left: 10px;
}

.plus-icon:hover, .send-icon:hover {
    background-color: var(--background);
}

