:root {
    --background: #0E0E0E;
    --primary-flame: #FF6B00;
    --secondary-flame: #FFB347;
    --accent: #FF4500;
    --text: #EDEDED;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    font-size: 16px;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 16px;
}

.icons {
    display: flex;
    flex-direction: column;
}

.icons .account {
    margin-top: 80vh;
}

.icons i {
    font-size: 2rem;
    padding: 1rem;
}