:root {
    --background: #0E0E0E;
    --primary-flame: #FF6B00;
    --secondary-flame: #FFB347;
    --accent: #FF4500;
    --text: #EDEDED;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    font-size: 16px;
}


body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/Frontend/images/background1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-container, .sign-up-container {
    /* border: 4px solid red; */
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 32px;
    background-color: var(--background);
    border-radius: 2rem;
    box-shadow: 8px 8px 96px var(--secondary-flame);
    
}

.login-container form, .sign-up-container form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.logo {
    text-align: center;
    font-size: 2rem;
    color: var(--accent);
    cursor: pointer;
}

.logo:hover {
    color: var(--primary-flame);
    transition: color 1s;
}


 input, .btn {
    padding: 8px 16px;
    border: none;
    border-radius: 1rem;
    min-width: 300px;
}
/* ! Key lesson: don't control the width of the container, but rather control the width of the component and let padding handle the rest */

.btn {
    background-color: var(--accent);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

 .btn:hover {
    background-color: var(--primary-flame);
    transition: all 0.5s;
}

/* ! Totally useless in forms */
/* .login-container button:active {
    background-color: var(--secondary-flame);
    color: var(--background);

} */

.email, .password {
    /* border: 2px solid green ; */
    position: relative;
}
.email i, .password i {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--text);
    /* transform: translateY(-50%); */
}

/* ! target the placeholder */
 input::placeholder {
  color: var(--text);
  text-align: justify;
  padding: 40px;
}

.other-actions {
    display: inline-flex;
    justify-content: space-between;
}

.other-actions h2 a {
    font-size: 0.75rem;
    text-decoration: none;

}

.terms-privacy {
    max-width: 300px;

}

.terms-privacy p, .terms-privacy p a {
    font-size: 0.75rem;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
}




/* TODO: gotta fix  the icons and placeholder issue */

/* TODO: Create the sign up page, in the same html page, use css and js, use js and display none */

.btn2 {
    background-color: transparent;
    font-size: 0.75rem;
    border: none;
}


.hidden {
    display: none;
}