:root {
    --background: #0E0E0E;
    --primary-flame: #FF6B00;
    --secondary-flame: #FFB347;
    --accent: #FF4500;
    --text: #EDEDED;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    font-size: 16px;
}

.hero-section {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/Frontend/images/background1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-section nav {
    display: flex;
    justify-content: space-between;
}

nav img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

nav select {
    width: 80px;
    height: 50px;
    border: none;
    border-radius: 0.5rem;
    background-color: transparent;
}

nav section option {
    color: var(--text);
    margin-right: 16px;
}

.lang {
    position: relative;
}

nav i {
    position: absolute;
    top: 16px;
    right: 16px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px 0px;
}
.title {
    /* border: 2px solid red; */
    color: var(--accent);
    margin-top: 48px;
}

.title img {
    width: 400px;
}

.tagline {
    text-align: center;
    font-size: 1.5rem;
    margin: 24px 0px;

}

.tagline:hover {
    color: var(--primary-flame);
    transition: all 2s;
}


.cta-section  {
    display: flex;
    gap: 96px;
}

.card {
    padding: 24px 32px;
    border-radius: 0.5rem;
    box-shadow: 8px 8px 96px var(--secondary-flame);
    cursor: pointer;
}

.card span {
    color: var(--accent);
    font-size: 2rem;
    font-weight: 700;
    margin: 16px 0px;
    padding: 16px 24px;
}


/* TODO: fix the navbar */
/* TODO: add a footer */
/* TODO: Add chat page */
/* TODO: Create a unique login page */